.App {
    height: 100%;
    width: 100%;

    display: flex;
    flex-flow: row nowrap;
}

.App .game {
    flex-basis: 80%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
}

.App .info {
    flex-basis: 20%;
    display: flex;
    flex-flow: column nowrap;
}